{
  "openapi": "3.0.0",
  "x-api-id": "4f8f39582faaff",
  "info": {
    "title": "Endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://readme.nyc/api"
    }
  ],
  "paths": {
    "/message": {
      "get": {
        "summary": "Get the current message",
        "description": "This will return the current message",
        "tags": [
          "Messages"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      },
      "post": {
        "summary": "Update the sign message",
        "description": "This will send a message to the Vestaboard to be displayed",
        "parameters": [],
        "tags": [
          "Messages"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "description": "The text message you want to display"
                  },
                  "color": {
                    "type": "string",
                    "description": "What color should the border be?"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Reset sign message",
        "description": "This will reset the Vestaboard's message",
        "tags": [
          "Messages"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Messages",
      "description": "Interact with the Vestaboard"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
